.cardstyle{
    width:10rem;
    display:inline;
    float: left;
    margin: 7px 7px 7px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5%;
    opacity: 0.9;
}
.btn{
    margin-bottom: 5px;
    margin-right: 2px;
}
.display{
  display: flex;
  width: 25%;
  margin-bottom: 20px;
}
.hidden{
 display: none;
}
.form-control{
    margin-bottom: 5px;
}
.btn-success{
    margin-top: 10px;
}