.cards{
    justify-content: center;
    opacity: 0.9;
    width: 300px;
    display: block;
    text-align: center;
    margin: 20px;
    /* margin-top: 150px; */
    background-color:bisque;
    height: 38vh;
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,3);
    border-radius: 5%;
    perspective: 1000px;
    height: 50%;
    
}
.card-img-tops{
    width: 200px;
}

.mainDivfront{
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 10%;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#4d3535;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    text-decoration: none;
 
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
   
}
.myButton:active {
	position:relative;
	top:1px;
}